.body{
    background-color: rgb(64, 151, 218);
}
.displayTitle{
    color: rgb(230, 170, 39);
}
.table-container {
    padding: 0 20px; 
    width: 100%;
    overflow-x: auto;
}
.table-custom{
    border-radius: 2%;
    overflow: hidden;
}
.table-custom thead th {
    background-color: #dbd9d9; 
    text-align: center;
    width: 10%;
}
.table-custom tbody td {
    text-align: center; 
    width: 10%; 
}
.operations {
    text-align: center;
}

.inline-btns {
    display: flex;
    justify-content: center;
}
.inline-btns .btn {
    margin-right: 5px; 
}


  

