.body{
    background-color: rgb(64, 151, 218);
}
.displayTitle{
    color: rgb(230, 170, 39);
}
.table-container {
    padding: 0 20px; 
}
.table-custom{
    border-radius: 2%;
    overflow: hidden;
}
.table-custom thead th {
    background-color: #dbd9d9; 
}
  

